@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

h4 {
    margin: -0.1rem 0 0 0;
    width: 12rem;
}

ul {
    margin: 0.3rem 0 0 0.8rem;
    padding: 0 0.8rem 0.5rem 0.8rem;
    list-style: none;
    display: none;
}

li {
    margin: 0.4rem 0 0 0;
}

#main-area {
    width: 14.6rem;
    height: auto;
    margin: 1.5rem auto;
}

.connect-line {
    background: green;
    width: 0.3rem;
    height: 46.9rem;
    position: absolute;
    z-index: -999;
    margin-left: 0.5rem;
}

.bus-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.4rem;
    white-space: nowrap;
}

.bus-station-icon {
    margin-right: 0.3rem;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 30%;
    background: green url("./arrow-down.png") no-repeat center/70%;
}

#contact {
    width: 1.8rem;
    height: 2rem;
    padding: 0.2rem 0 0 0.4rem;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    background: #8fbc8f;
    border-radius: 50%;
    color: #fff;
    font-size: 0.8rem;
    line-height: 0.9rem;
}